@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

/* Requerimientos: 
Tener <nav> </nav> con #navbar-pinterest
El buscador debe de ser <input> con .finder
La navbar debe de tener 3 iconos cada uno dentro de <div> </div> a la derecha #notifications #message y #profile-img
Tener un <main> </main> con #content este debe de contener todas las images
El icono de pinterest con #pinterest-icon me debe de redireccionar a https://www.pinterest.com
Cada imagen debe de estar encerrada en un <div> </div> con la clase .card-image
Por lo menos deben de existir 30 imágenes
Debes de tener por lo menos una media query
El navbar siempre debe de estar en el top de la aplicación
La .card-image tiene un :hover para mostrar los botones */


body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;

}

/* Estilos de Header */
#navbar-pinterest{
    width: auto;
    height: 80px;
    margin: 0 0 100px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 18fr 1fr 1fr 1fr 1fr;
    position: fixed;
    background-color: white;


}

#navbar-pinterest div{
    justify-self: center;
    align-self: center;
}



a{
    text-decoration: none;
    cursor: pointer;
    color: black;
}

#inicio a{
    height: 50px;
    width: 85px;
    background-color: black;
    color: white;
    border-radius: 33px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pinterest-icon img{
    width: 30px;
    height: auto;
}


span{
    color: white;
}
#flecha_abajo {
    width: 15px;
    height: auto;

}

.finder {
    background-color: #e2e2e2;
    width: 95%;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 100px;
    border: none;
    display: flex;
    justify-content: start;
    padding-left: 15px;
    align-items: center;
}

.finder .rellenoicon{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
}

.finder input{
    width: 450px;
    height: 50px;
    border: none;
    outline: none;
    background-color: transparent;
}

.finder imput::placeholder{
    color: #878787;
}

.finder:hover{
    background-color: #d0d0d0;
}

#notifications{
    max-width: 35px;
    max-height: 35px;
    border-radius: 100%;
}

.icons {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons:hover{
    background-color: #e2e2e2;

}

#message{
    max-width: 35px;
    max-height: 35px;
    border-radius: 100%;
}

#profile-img{
    max-width: 35px;
    max-height: 35px;
    border-radius: 100%;

}

/* Estilos Main */
#content{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 50px;
    margin-right: 50px;
}

#content .columna1{
    display: flex;
    margin: 15px;
    margin-top: 100px;
    flex-direction: column;
}

#content .columna2{
    display: flex;
    margin: 15px;
    margin-top: 100px;
    flex-direction: column;
}

#content .columna3{
    display: flex;
    margin: 15px;
    margin-top: 100px;
    flex-direction: column;
}

#content .columna4{
    display: flex;
    margin: 15px;
    margin-top: 100px;
    flex-direction: column;
}

#content .columna5{
    display: flex;
    margin: 15px;
    margin-top: 100px;
    flex-direction: column;
}


#content .card-image .grande{
    width: 200px;
    border-radius: 25px;
    margin: 10px 10px 10px 10px;
}

#content .card-image .chica{
    width: 200px;
    border-radius: 25px;
    margin: 10px 10px 10px 10px;
}

.dudas{
    height: 50px;
    width: 45px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 100%;
    border: 3px solid white;
}

#iconpregunta{
    width: 20px;
    height: 25px;
    border-radius: 100%;
}

.dudas:hover{
    background-color: #e2e2e2;
    box-shadow: 0 1px 6px 0 #20212447;
}

